node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*
*.bun-build
.svelte-kit
.vscode
build
node_modules
.dockerignore
.env.example
.eslintignore
.eslintrc.cjs
.gitignore
.prettierignore
Dockerfile
prettier.config.cjs
components.json
README.md